node_modules
coba.js
/Results
/src/indexbackup.js
indexbackup.js
new.js
/assets/Image/p.jpg
/assets/Template/UMSTemplate.png
/assets/Template/UnivTexasDallasTemplate.png
/assets/Template/SingaporeManagementUnivTemplate.png